<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas D3js</title>
    <script src="/scripts/jquery.js" language="JavaScript"></script>
    <script src="/lib/d3/d3.v3.min.js" language="JavaScript"></script>
    <script type="text/javascript" src="http://iop.io/js/iopctrl.js"></script>
    <script type="text/javascript" src="/lib/d3/kilo-lib.js"></script>
    <link rel="stylesheet" href="/lib/foundationjs/css/foundation.css">
    <link rel="stylesheet" href="/lib/foundationjs/css/app.css">

</head>
<body>
    <div class="small-7 large-centered   columns">
      <div class="medium-2 large-2 columns">
        <span id="speedometer"></span>
      </div>
      <div class="medium-6 large-6 columns" style="margin-top: 15%;">
        <form>
          <div class="row">
            <div class="large-13 columns">
              <div class="row collapse">
                <div class="small-10 columns">
                  <input type="text" id="inputKM" placeholder="Valor de kilometraje">
                </div>
                <div class="small-2 columns">
                  <button type="button" class="button postfix">Go</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>


    </script>
</body>
