#footer{
    width: 100%;     
    background-color: rgb(215, 221, 255);               
    bottom: 0;        
    text-align: center;
    border-top: 2px solid #97A8FE; 
    margin-top: 12px;
}
#footer p{
    margin: 0;
    padding: 11px 0px 11px 0px;
    color: rgb(96, 108, 182);  
    font-family: monospace;
}
.clear{
     clear: both;
}